* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, 
body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.first-heading{
    font-size: 18px;
    color: #f2f2f2;
}

.nav-bar {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    padding: 30px 50px;
}

.part-2 {
    gap: 10px;
    display: flex;
    a{
        text-decoration: none;
        color: #f2f2f2;
    }
}

.second-heading {
    color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
