@font-face {
    font-family: 'Hack Regular';
    src: url(./assets/fonts/Hack-Regular.ttf);
}

@font-face {
    font-family: 'Hack Regular B';
    src: url(./assets/fonts/Hack-Bold.ttf);
}

:root {
    --font-family-R: 'Hack Regular';
    --font-family-B: 'Hack Regular B';
    --primary-color: #111;
    --background-color-1: #084730;
    --background-color-2: rgba(86, 142, 95, 0.20);
    --link-text-color: #94CAB6;
    --navigation-bg-color: #0c964d;
    --border-color: #20d374;
    --navigation-color: #0C724E;
    --selected-text-color: #94CAB6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teachFest__event {
    max-width: 100%;
}

body {background:var(--primary-color) url(./assets/images/background.svg) no-repeat top / cover;}

.techFest__navigation {
    max-width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --navigation-color);
    gap: 5vw;
    opacity: .9;
}

[class^="navigation--link-"], a:first-child {
    font-family: var(--font-family-R);
    color: var(--selected-text-color);
    text-decoration: none;
}

[class^="navigation--link-"] {color: #111;}

.form{
    width: 30%;
    background-color: var(--background-color-2);
    border: 2px solid var(--navigation-bg-color);
    border-radius: 33px;
    padding: 2vw 2vw 0vw 2vw;
    margin: 2vw 2vw;
    height: 76vh;
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.user-register {display: flex; justify-content: space-evenly;}

.register-text {
    font-family: var(--font-family-R);
    color: var(--link-text-color);
    font-size: 2vw;
    margin-bottom: 14px;
    letter-spacing: 2.85px;
}

.teachFest--image {display: none;}

input { color: #fff;}

[class^="input-"] {
    border: 2px solid var(--border-color);
    background-color: var(--background-color-2);
    width: 100%;
    height: 47.068px;
    padding: 15px;
    margin: 8px -5px;
    border-radius: 17px;
    font-family: var(--font-family-R);
    letter-spacing: 1.5px;
}

input::placeholder {
    color: var(--link-text-color);
}

input:focus {
    outline: none;
}

select {
    color: var(--link-text-color);
    background-color: #1f2a21;
    border: 2px solid var(--border-color);
    font-family: var(--font-family-R);
    outline: none;
}

.input-event {
    color: var(--link-text-color);
}

.input-event option {
    color: var(--link-text-color);
    background-color: #1f2a21;
}

.input-event option:disabled {
    color: var(--link-text-color);
    background-color: var(--background-color-2); 
}

.save-btn {
    width: 101.577px;
    height: 49.882px;
    background-color: var(--background-color-1);
    border-radius: 21px;
    margin: 1vh 0px 0px 0px;
    border: none;
}

.save-btn a{
    text-decoration: none;
    color: var(--link-text-color);
    font-weight: 600;
    font-family: var(--font-family-B);
}

/* User Register ||END|| */

/* support-graphic */

.support-graphic {
    width: 60%;
}
.support_graphic--img {width: 40%;}

/* Animation */
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes colorChange {
    0% { opacity:50%; }
    100% { opacity: 100%}
}
/* Animation ||END|| */

/* Media Query */
@media (max-width: 1200px) {
    [class^="navigation--link-"], a:first-child {
        font-size: 1.45vw;
    }
    .form {
        width: 44%;
        height: 74vh;
    }
}

@media (max-width: 1024px) {
    [class^="navigation--link-"], a:first-child {
        font-size: 1.45vw;
    }
}

@media (max-width: 768px) {
    [class^="navigation--link-"], a:first-child {
        font-size: 2.3vw;
    }
    .form {
        width: 80%;
        height: 75vh;
        padding: 2vw 2vw 0vw 4vw;
    }
    .user-register {
        margin: 18px 0px 0px 0px;
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    .register-text {font-size: 3.5vw;}
    .support_graphic--img {display: none;}
    .teachFest--image {display: block; width: 124px;}
}

@media (max-width: 568px) {
    [class^="navigation--link-"], a:first-child {
        font-size: 3.5vw;
    }
    .form {
        width: 89%;
        height: 73vh;
        padding: 2vw 4vw 0vw 5.5vw;
        margin: 2vw 2vw 3vw 2vw;
    }
    .register-text {font-size: 5vw;}
    .teachFest--image {display: block; width: 124px;}
}

@media (max-width: 320px) {
    [class^="navigation--link-"], a:first-child {
        font-size: 12.5px;
    }
    .form {
        width: 89%;
        height: 73vh;
        padding: 2vw 4vw 0vw 5.5vw;
        margin: 2vw 2vw 3vw 2vw;
    }
    .register-text {font-size: 5vw;}
    .teachFest--image {display: block; width: 124px;}
}