@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: black;
    --primary-color:#F3F3FE;
    --button-color:#18BD5B;
    --important-color: red;
}

* {
    font-family: Poppins;
}

.form-box {
    width: 60vw;
    height: 110vh;
    background: #FFF;
    padding: 2rem; 
    box-sizing: border-box;
    position: relative;
}

body {
    width: auto;
    height: 120vh;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.text {
    color: var(--text-color);
    text-align: center;
    font-size: 3vh;
    font-weight: 400;
}

.form-para-text {
    color: var(--text-color);
    font-size: 2.22vh;
    font-weight: 400;
    width: 100%; 
    margin: 0; 
}

hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid var(--text-color); 
}

.input-tag {
    width: 19.38vw;
    height: 6.33vh;
    border-radius: 0.69vw;
    border: 0.07vw solid var(--text-color);
}

.input-text-2,
.input-text-3,
.button-text,
.input-text-4 {
    color: var(--text-color);
    font-size: 1.26vw;
    font-weight: 400;
}

.input-text-3 {
    position: relative;
    bottom: 0.7vh;
}

.input-1,
.input-2 {
    width: 19.38vw;
    height: 7.78vh;
}

.input-tag-1 {
    position: relative;
    top: 7vh;
    left: 7vw;
}

[class="important"] {
    color: var(--important-color);
}

.name-input {
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.comment-feed {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    padding: 2vw;
    align-items: center;
    justify-content:center;
}

textarea {
    padding: 1vw;
}

input {
    padding-left: 0.7vw;
}
.comment-block {
    width: 45vw;
    height: 18.67vh;
    border-radius: 1.04vw;
    border: 0.14vw solid var(--text-color);
}

input::placeholder {
    padding-left: 0.6vw;
}

.email {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5vw;
    top: 5vh;
}

.input-text-4 {
    margin-top: 1.5vh;
}

#button {
    width: 12vw;
    height: 6.75vh;
    border-radius: 0.4375em;
    border: 0.0625em solid var(--button-color);
    background: var(--button-color);
    display: flex;
    margin: 0 0 auto 38.7vw;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 4vh;
}

button:hover {
    cursor: pointer;
}

.button-text {
    color: #fff;
}

@media (max-width: 1280px) {
    .form-box {
        width: 70vw;
    }

    .input-tag {
        width: 30vw;
    }

    .comment-block {
        width: 55vw;
    }

    .name-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 6.5vw;
    }

    #button {
        width: 28vw;
        display: flex;
        margin-left: 22vw;
    }

    .input-text-2, .input-text-4 {
        display: none;
    }

    .button-text {
        font-size: 3vw;
    }
}

@media (max-width: 992px) {
    .form-box {
        width: 80vw;
    }

    .input-tag {
        width: 37vw;
    }

    .comment-block {
        width: 60vw;
    }

    .email {
        left: 2vw;
    }

    .name-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 6.5vw;
    }

    ::placeholder{display: none;}

    #button {
        width: 28vw;
        display: flex;
        margin-left: 22vw;
    }

    .input-text-2, .input-text-4 {
        display: none;
    }

    .button-text {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    .form-box {
        width: 90vw;
    }

    .input-tag {
        width: 40vw;
    }

    .comment-block {
        width: 70vw;
    }

    .name-input {
        flex-direction: column;
    }

    .email {
        left: 0;
    }

    #button {
        margin: 0 auto;
        bottom: 2vh;
    }

}

@media (max-width: 576px) {
    .form-box {
        width: 95vw;
    }

    .input-tag {
        width: 56vw;
        right: 6vw;
        position: absolute;
    }

    .input-text-2, .input-text-4{display: none;}

    .comment-block {
        width: 80vw;
    }

    .text {
        font-size: 4vw;
    }

    .form-para-text {
        font-size: 3vw;
    }

    .input-text-3 {
        right: 11vw;
    }
    
    .input-text-2,
    .input-text-3,
    .input-text-4 {
        font-size: 3vw;
    }

    .email {
        top: 3vh;
    }

    #button {
        width: 80vw;
        bottom: 2vh;
    }
    #button {
        right: 7vw;
        position: absolute;
    }
}
